:root {
    --primary-bgd-color: rgb(255, 255, 255);
    --second-bgd-color: rgb(212, 212, 212);
    --nav-bgd-color: rgb(255, 255, 255);
    --nav-bgd-color-dark: rgb(240, 240, 240);
    --primary-font-color: rgb(53, 53, 53);
    --primary-font-color-dark: rgb(31, 31, 31);
    --accent-color: rgb(63, 125, 218);
    --font-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --nav-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
    --item-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26);
}

/******** LARGE SCREENS *********/
@media only screen and (min-width: 651px) {
    .content-container {
        background-color: inherit;
        box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.288);
        z-index: 8;
        margin-top: 70px;
        padding: 40px 30px 40px 30px;
        max-width: 1000px;
        margin: auto;
    }

    .img-header {
        z-index: -1;
        top: 0;
        position: sticky;
        width: 100%;
        height: 400px;
        box-shadow: inline var(--nav-box-shadow);
    }
    
    .img-header img {
        z-index: -1;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    
    .img-text {
        color: white;
        font-weight: 200;
        display: block;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.651);
        text-align: center;
        max-width: 400px;
        height: 400px;
        font-size: 5em;
        margin: auto;
        z-index: 3;
        transform: translateY(-92vh);   
        padding: 20px;
    }
}

/******** SMALL SCREENS *********/
@media only screen and (max-width: 650px) {
    .content-container {
        background-color: inherit;
        box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.288);
        z-index: 8;
        margin-top: 70px;
        padding: 30px 5% 30px 5%;
        width: 90%;
        margin: 0;
    }

    .img-header {
        z-index: -1;
        top: 0;
        position: sticky;
        width: 100%;
        height: 400px;
        box-shadow: inline var(--nav-box-shadow);
    }
    
    .img-header img {
        z-index: -1;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    
    .img-text {
        color: white;
        font-weight: 200;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.651);
        text-align: center;
        max-width: 400px;
        font-size: 4em;
        margin: auto;
        z-index: 3;
        transform: translateY(-370px);
        margin: auto;
        padding: 20px;
    }
}

body {
    background-color: white;
    margin: 0;
    font-family: var(--font-apple);
}


/*********** NAVIGATION ***********/

header {
    z-index: 10;
    position: sticky;
    top: 0;
}

nav {
    background-color: var(--nav-bgd-color);
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 1.2em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
    width: 100%;
}

nav .left {
    float: left;
}

nav .right {
    float: right;
}

.nav-item {
    background-color: var(--nav-bgd-color);
    transition: opacity 0.5s, color 0.5s;
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: 100;
    padding: 15px;
    user-select: none;
}

.nav-item:hover {
    box-shadow: inset var(--item-box-shadow);
    color: var(--primary-font-color-dark) !important;
    background-color: var(--nav-bgd-color-dark) !important;
}

.dropdown {
    display: inline-block;
    position: relative;
    padding: 15px;
}

.dropdown-content {
    box-shadow: var(--nav-box-shadow);
    font-size: 0.9em;
    position: absolute;
    animation: fadein 0.5s;
    display: none;
    min-width: 150px;
    transform: translate(-15px, 15px);
}

.dropdown-content a {
    margin: 0;
    padding: 15px;
    min-width: 150px;
    display: block;
    text-decoration: none;
    color: var(--primary-font-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*********** FOOTER ***********/
footer {
    background-color: var(--second-bgd-color);
    padding: 50px;
    font-weight: 200;
    text-align: center;
}


/***** CARD ******/
.card-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    transition: all 0.3s;
    margin: 20px 10px 20px 10px;
    box-shadow: var(--item-box-shadow);
    max-width: 250px;
    display: block;
    background-color: white;
    padding: 10px;
    font-weight: 200;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 0px 0px 2px var(--accent-color);
}

.card:active {
    opacity: 0.5;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    margin-bottom: 0;
}

.card-txt {
    margin-top: 0;
    background-color: inherit;
    color: black;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.card-txt-desc {
    opacity: 0.8;
    padding: 5px;
    font-size: 0.8em;
}

.card-add-cart-btn {
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    color: inherit;
    text-decoration: none;
    background-color: var(--nav-bgd-color-dark);
}

.card-add-cart-btn:hover {
    filter: brightness(0.95);
}


