:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 18px;
  --item-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --input-shadow: 0 0 2px 0;
  --border-radius: 3px;
  --darkgray: rgb(94, 94, 94);
  --lightgray: rgb(173, 173, 173);
  --blue: rgb(47, 150, 219);
  --red: tomato;
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

/******** NAVIGATION ********/
/******** CONTENT ********/
.content {
  margin: auto;
  padding: 20px;
  max-width: 600px;
}

/******** BUTTONS ********/
.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  background-color: var(--darkgray);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font-size);
  border: none;
  border-radius: var(--border-radius);
  padding: 8px;
  margin: 5px 5px 5px 5px;
  outline: none;
  height: 42px;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.btn:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
}

.btn-primary {
  color: white;
  background-color: var(--blue);
  border: solid 1px var(--blue);
}

.btn-secondary {
  background-color: white;
  color: var(--blue);
  border: solid 1px var(--blue);
}

.btn-warn {
  color: white;
  background-color: var(--red);
  border: solid 1px var(--red);
}

.btn-icon {
  width: 42px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  border-radius: 22px;
}

/********* FORMS *********/
form {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

/********* INPUTS *********/
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
  font-size: var(--font-size);
  padding: 8px;
  margin: 5px 5px 5px 5px;
  border-radius: var(--border-radius);
  border: solid 1px var(--lightgray);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 100px;
}

input:focus {
  outline: none;
  border: solid 1px var(--blue);
  -webkit-box-shadow: var(--input-shadow) var(--blue);
          box-shadow: var(--input-shadow) var(--blue);
}

.input-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-btn-container .input-btn {
  margin: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

/*********** LIST *************/
.list-unstyled {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  list-style: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--lightgray);
}

.list-styled {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 35px;
  border-radius: var(--border-radius);
  border: 1px solid var(--lightgray);
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid var(--lightgray);
}

.list-item:last-child {
  border: none;
}

/************ CARDS *************/
.card-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  margin: 20px 10px 20px 10px;
  border-radius: var(--border-radius);
  border: solid 1px var(--lightgray);
  max-width: 250px;
  min-width: 200px;
  display: block;
  background-color: white;
  padding: 10px;
  font-weight: 200;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 0px 2px var(--blue);
          box-shadow: 0px 0px 0px 2px var(--blue);
}

.card:active {
  opacity: 0.5;
}

.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 250px;
  margin-bottom: 0;
}

.card-txt {
  margin-top: 0;
  background-color: inherit;
  color: black;
  padding: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-txt-desc {
  opacity: 0.8;
  padding: 5px;
  font-size: 0.8em;
}

/************ COLORS *************/
/*# sourceMappingURL=style.css.map */