:root {
    --primary-bgd-color: rgb(255, 255, 255);
    --primary-bgd-color-dark: rgb(255, 255, 255);
    --second-bgd-color: rgb(85, 85, 85);
    --nav-bgd-color: rgb(59, 59, 59);
    --nav-bgd-color-dark: rgb(43, 43, 43);
    --primary-font-color: rgb(0, 0, 0);
    --primary-font-color-dark: rgb(0, 0, 0);
    --accent-color: rgb(124, 199, 114);
    --accent-color-dark: rgb(106, 173, 97);
    --font-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --post-font: Georgia, 'Times New Roman', Times, serif;
    --nav-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
    --item-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26);

    --nav-height: 56px;
    --footer-height: 70px;
}


.fancy-form {
    background-color: inherit;
    margin: 30px 0 30px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.fancy-title {
    font-weight: 200;
}

.fancy-input {
    width: 100%;
    display: flex;
    position: relative;
    flex: 4;
    margin: 10px;
    font-size: 15px;
    max-width: 700px;
    min-width: 200px;
}

.fancy-input input,
.fancy-input textarea {
    background-color: inherit;
    z-index: 2;
    min-width: 100px;
    display: block;
    transition: border 0.3s, box-shadow 0.3s;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    border: solid rgb(197, 197, 197) 3px;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
    color: var(--primary-font-color);
    -webkit-appearance: none;
}

.fancy-input textarea {
    font-family: inherit;
    resize: none;
}

.fancy-input input:focus,
.fancy-input textarea:focus {
    border: solid var(--accent-color) 3px;
    box-shadow: 0px 0px 4px 0px var(--accent-color);
    outline: none;
}

.fancy-input-txt {
    font-family: inherit;
    object-fit: cover;
    z-index: 1;
    user-select: none;
    position: absolute;
    margin: 0;
    transition: transform 0.3s, font-weight 0.3s, color 0.3s, background-color 0.3s;
    transform: translate(10px, 7px);
    -webkit-transform: translate(10px, 7px);
    transform-origin: 0% 100%;
    color: rgb(197, 197, 197);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.fancy-input input:focus+.fancy-input-txt,
.fancy-input textarea:focus+.fancy-input-txt {
    z-index: 2;
    background-color: var(--primary-bgd-color);
    color: var(--accent-color);
    transform: translate(15px, -13px) scale(0.7);
    -webkit-transform: translate(15px, -13px) scale(0.7);
    font-weight: 400;
}

.persist-focus {
    z-index: 2;
    background-color: var(--primary-bgd-color);
    color: rgb(197, 197, 197);
    transform: translate(15px, -13px) scale(0.7);
    -webkit-transform: translate(15px, -13px) scale(0.7);
    font-weight: 400;
}

.fancy-btn button {
    display: block;
    margin: 20px;
    font-family: inherit;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    outline: none;
}

.fancy-btn button:active {
    background-color: var(--accent-color-dark);
    box-shadow: 0px 0px 4px 0px var(--accent-color);
}

.break {
    flex-basis: 100%;
    height: 0;
}