:root {
    --primary-bgd-color: rgb(48, 48, 48);
    --second-bgd-color: rgb(59, 59, 59);
    --nav-bgd-color: rgb(36, 36, 36);
    --nav-bgd-color-dark: rgb(31, 31, 31);
    --primary-font-color: rgb(250, 250, 250);
    --primary-font-color-dark: rgb(160, 160, 160);
    --accent-color: rgb(116, 187, 107);
    --font-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --post-font: Georgia, 'Times New Roman', Times, serif;
    --nav-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
    --item-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26);

    --nav-height: 56px;
    --footer-height: 70px;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-apple);
    color: var(--primary-font-color);
}

// NAVIGATION
header {
    z-index: 10;
    position: sticky;
    top: 0;

    nav {
        height: var(--nav-height);
        background-color: var(--nav-bgd-color);
        margin: 0;
        padding: 0;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        font-size: 1.2em;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
        width: 100%;

        .nav-item {
            background-color: var(--nav-bgd-color);
            transition: background-color 0.3s;
            text-decoration: none;
            color: var(--primary-font-color);
            font-weight: 100;
            padding: 15px;
            user-select: none;
        }

        .nav-item:hover {
            color: var(--primary-font-color-dark) !important;
            background-color: var(--nav-bgd-color-dark) !important;
        }
    }
}



// HEADER/LOGO


// CONTENT BODY
main {
    background-color: var(--primary-bgd-color);
    min-height: calc(100vh - var(--footer-height) - var(--nav-height));


    a {
        color: var(--accent-color);
    }

    h2 {
        margin: auto;
    }
}


// FOOTER
footer {
    background-color: var(--primary-bgd-color);
    text-align: center;
    height: var(--footer-height);
    font-weight: 200;
}


// POST PREVIEW


// POST

// title
.post-title {
    text-align: center;
    padding: 20px 0 5px 0;
}

// info
.post-info {
    padding-left: 20px;
    padding-right: 20px;
}

// body
.post-body {
    margin: auto;
    padding: 30px;
    max-width: 600px;
    text-align: justify;
}

// comments
.comment-box {
    margin: auto;
    padding: 30px;

    .comment {
        padding: 10px;
    }

    .secondary-comment {}

    .comment-details {
        text-align: left;
    }

    .comment-body {}

}