:root {
  --primary-bgd-color: rgb(68, 68, 68);
  --primary-bgd-color-dark: rgb(56, 56, 56);
  --second-bgd-color: rgb(85, 85, 85);
  --nav-bgd-color: rgb(59, 59, 59);
  --nav-bgd-color-dark: rgb(55, 55, 55);
  --primary-font-color: rgb(250, 250, 250);
  --primary-font-color-dark: rgb(160, 160, 160);
  --accent-color: rgb(100, 170, 91);
  --accent-color-dark: rgb(93, 150, 85);
  --warning-color: rgb(172, 73, 73);
  --font-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --post-font: Georgia, 'Times New Roman', Times, serif;
  --nav-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
  --item-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26);
  --std-animation-duration: 0.7s;
  --nav-height: 56px;
  --footer-height: 70px;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-apple);
  color: var(--primary-font-color);
}

.btn {
  display: block;
  margin: 10px;
  font-family: inherit;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

.btn:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.normal-btn {
  background-color: var(--accent-color);
}

.warning-btn {
  background-color: var(--warning-color);
}

header {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  height: var(--nav-height);
  background-color: var(--nav-bgd-color);
  margin: 0;
  padding: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 1.2em;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.26);
  width: 100%;
}

header nav .nav-item {
  background-color: var(--nav-bgd-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  color: var(--primary-font-color);
  padding: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav .nav-item:hover {
  color: var(--accent-color) !important;
}

header nav .sign-out-btn {
  position: absolute;
  right: 0;
  padding-bottom: 10px;
}

header nav .home-btn {
  width: 24px;
}

main {
  background-color: var(--primary-bgd-color);
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}

main .page-title {
  text-align: center;
  padding: 0 30px 5px 30px;
}

main .content-container {
  padding: 30px 20px 30px 20px;
  background-color: inherit;
  max-width: 600px;
  margin: auto;
}

main a {
  color: var(--accent-color);
}

main h2 {
  margin: auto;
}

footer {
  background-color: var(--primary-bgd-color);
  text-align: center;
  height: var(--footer-height);
  font-size: small;
}

.post-preview {
  margin: 20px auto 20px auto;
  max-width: 500px;
  max-height: 450px;
  background-color: var(--primary-bgd-color-dark);
  border-radius: 5px;
  overflow: hidden;
  -webkit-animation: grow var(--std-animation-duration);
          animation: grow var(--std-animation-duration);
}

.post-preview a {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 15px;
  max-height: 420px;
}

.post-preview a h3 {
  margin: 0 0 5px 0;
  width: 100%;
  text-align: center;
  color: #5fb85f;
}

.post-preview a img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  border-radius: 5px;
}

.post-preview a p {
  width: 100%;
  text-align: justify;
}

.post-preview a .preview-fader {
  z-index: 5;
  background-color: var(--primary-bgd-color-dark);
  position: absolute;
  height: 20px;
  width: 100%;
  top: 430px;
  left: 0;
  margin: 0;
  -webkit-box-shadow: 0 -10px 40px 40px var(--primary-bgd-color-dark);
          box-shadow: 0 -10px 40px 40px var(--primary-bgd-color-dark);
}

.post-preview a:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

/************** POST ******************/
.blog-post {
  -webkit-animation: fadein var(--std-animation-duration);
          animation: fadein var(--std-animation-duration);
}

.blog-post .post-info {
  padding: 10px;
}

.blog-post .post-body {
  padding: 20px 0 30px 0;
  text-align: justify;
}

.blog-post .post-img img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.id-input {
  display: none;
}

.comment-box {
  margin-top: 30px;
  border-top: solid gray 2px;
  background-color: inherit;
  padding: 10px 0 30px 0;
}

.comment-box .comment {
  border-top: solid gray 1px;
  padding: 20px 10px 20px 10px;
}

.comment-box .comment .comment-delete-btn {
  float: right;
}

.comment-box .children {
  margin-left: 30px;
}

.comment-box .comment-details {
  text-align: left;
}

/************** EDITOR ******************/
.action-buttons {
  z-index: 10;
  position: fixed;
  right: 10px;
  top: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.action-buttons form {
  display: inherit;
}

.action-buttons form button {
  -webkit-box-shadow: var(--item-box-shadow);
          box-shadow: var(--item-box-shadow);
  width: 44px;
  height: 38px;
}

.draft-preview {
  border-top: solid 2px;
  padding-top: 40px;
}

.draft-preview .blog-post {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

#body-text {
  font-family: monospace;
  min-height: 500px;
}

/************** LOGIN ******************/
.login-container {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--primary-bgd-color);
  min-height: calc(100vh - var(--footer-height));
}

.login-form {
  border: solid var(--primary-bgd-color-dark) 1px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px !important;
  -webkit-box-shadow: var(--nav-box-shadow);
          box-shadow: var(--nav-box-shadow);
}

.login-form h2 {
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
}

.login-form .fancy-btn {
  width: 100%;
}

.login-form .fancy-btn input {
  margin: 10px auto 10px auto;
  width: 80%;
}

@media only screen and (max-width: 650px) {
  .login-form {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
}

/*********** SCROLL BAR **************/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bgd-color-dark);
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */